/* RESET STYLES */
html, body, body * {
    box-sizing:border-box;
    font-family:'Open-sans', sans-serif;
    margin:0;
    padding:0;
    color:inherit;
    background-color: inherit;
}

/* LOGIN & REGISTER FORM STYLING */
body {
    /* background-image: url("images/pic03.jpg"); */
    background-size: cover;
    background-position: center center;
}
.container {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100pxx;
}
.login-register-wrapper {
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2em;
    border-radius: 5px;
    box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
    /* overflow: hidden; */
    color: #ffffff;
    background: linear-gradient(180deg, rgb(99, 26, 32) 0%, rgb(201, 96, 96) 52%, rgba(255,255,255,0) 82%)
}
.form-group input{
  width: 100%;
  height:35px;
  padding-left: 15px;
  border: 2px;
  border-radius: 5px;
  margin-bottom: 20px;
  background: rgba(255,255,255,0.2);
}
.form-group label{
  text-transform: uppercase;
}
button#submit {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  text-align: center;
  color: rgba(255,255,255,1);
  padding: 8px 0px;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  margin-top: 23px;
  background-color: rgb(156, 20, 27);
}
/* FORM POSITIONING AND ANIMATION */
form{
  position: relative;
  transition: all .5s ease;
}
#loginBtn, #registerBtn {
  transition: all .5 ease;
}
/* FORM ERROR STYLING */
.errors{
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: .5rem;
  font-size: 15px;
}
 /* FORM BUTTON STYLING */
 button:focus {
  outline: 0;
}
button:active {
  background-color: rgb(156, 20, 27);
}
button:hover {
  background-color:rgb(156, 20, 27);
  border-radius: 90px;
  padding-right: 5px;
  padding-left: 5px;
}

/* JOKE CARD STYLING */
.joke-container{
  width: 100%;
  padding-top: 60px;
  padding-bottom: 100px;
}
.joke-wrapper{
  color: rgb(156, 20, 27);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  height: 250px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 0 2em;
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
  color: #ffffff;
  background: linear-gradient(180deg, rgb(99, 26, 32) 0%, rgb(201, 96, 96) 52%, rgba(255,255,255,0) 82%)
}
.joke-title{
  font-size: 22px;
}
.joke{
  font-size: 18px;
}
.answer{
  color:rgb(156, 20, 27);
}

/* NAVBAR BUTTONS */
.nav-buttons {
    width: 75%;
    height: 100px;
    padding-top: 40px;
    opacity: 1;
    margin-bottom: 1.5em;
}
button { 
    font-size: 1.5em;
    margin-right: 1em;
    border: 0px;
    cursor: pointer;
}
button:focus{
    outline: 1px;
}
button.active{
    padding-bottom: 10px;
    border-bottom: solid 2px #b62b18;
}
  /*APP STYLING */
   /* NAVBAR */
  .navbar {
    margin: 0 auto;
    display: flex;
    max-width: 1000px;
    align-items: center;
    height: 55px;
    justify-content: space-evenly;
  }
  .navbar {
    font-weight: 400;
  }
  .navbar > a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 0 30px;
  }
  .navbar > h1 {
    padding: 0;
    font-weight: 600;
    font-size: 2.75rem;
    display: flex;
    align-items: center;
    margin: 0;
  }
  
  .articles > .article-card {
    border: 1px solid #00000057;
    padding: 5px;
    margin: 5px auto;
    width: 95%;
  }

  .text-center {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b62b18;
  }
  .text-center > h5 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 2.75rem;
    color: white;
  }
  .loginBtn {
    background-color: white;
    border-radius: 40px;
    padding: 7px;
    margin-top: 23px;
    font-size: 17px;
  }

  

 
  .home {
    width: 42rem;
    background-color: #fff;
    border: 1px solid #00000079;
    border-radius: 2px;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  .feed {
    width: 43rem;
    background-color: #fff;
    border: 1px solid #00000046;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .category {
    width: 380px;
    background-color: #fff;
  }
  
  .profile button {
    width: 150px;
    margin-top: 10px;
  }
  
  /* CREATE ARTICLE  */
  .form-control {
    border: 1px solid gray;
  }
  /* DETAIL ARTICLE  */
  /* EDIT ARTICLE */
  /* LIST ARTICLE */
  

 
  

  

  
 
 
  

 
  


 
  
  

 
  


  
  
 